:root {
    --main-bg-color: rgb(59, 59, 59); 
    --main-logo-color: #ff282f;
    --complementario-oscuro: #B30E14;
    --complementario-claro: #FF4249;
  }
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: var(--main-logo-color);
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: var(--main-logo-color);
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.text-bold{
    font-weight: 700;
}
a{
    color: var(--main-logo-color);
}
p,label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300
}
a:hover{
    text-decoration: none;
    color: #B30E14;
}
a:focus{
    text-decoration: none;
}
.row{
    margin: 0;
    width: 100%;
}
button{
    border: none;
    cursor: pointer;
}
.div-imagen{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.milinea {
    width: 100px;
    height: 2px;
    background-color: #707070;
}
.text-black{
    color: black;
}
.text-normal{
    font-weight: 300;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e6e6e6; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bebebe;
  }

button:focus{
    outline: none;
}

.myinput{
    width: 100%;
    padding: 15px;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    border: none;
    border: none;
    border-bottom: 1px solid #bebebe;
    height: 40px;
    font-size: 14px;
}
.myinput:focus{
    outline: none;
    border-bottom: 1px solid var(--main-logo-color);
    /*
    background-color: #e6e6e6;
    */
}

.myinput.myinput-normalito{
    border: 1px solid #e6e6e6;
    padding: 10px;
    height: auto;
}

.myinput.myinput-normalito:focus{
    background-color: #e6e6e6;
}



/*
ESTILOS DEL INPUT CON EL INCONO DE BUSCAR
*/
.myinput-container-buscar input{
    padding-left: 25px;
    transition: all 0.3s;
}
.myinput-container-buscar.quitar-after input{
    padding-left: 0;
}
.myinput-container-buscar{
    position: relative;
}
.myinput-container-buscar .myinput:hover{
    border-bottom:1px solid var(--main-logo-color);
}
.myinput-container-buscar:hover::after{
    color: var(--main-logo-color)
}
.myinput-container-buscar::after{
    position: absolute;
    top: 20%;
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    font-weight: 900;
    color: #bebebe;
    width: 25px;
    transition: all 0.3s;
}
.myinput-container-buscar.quitar-after::after{
    content: '';
    width: 0;
}
/*
ESTILOS DEL INPUT MATERIAL DESIGN
*/
.myinput-material{
    position: relative;
    margin-top: 20px;
    padding-top: 15px;
    background: #e6e6e6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.myinput-material input{
    background: #e6e6e6;
}
.myinput-material:hover input{
    background: #e6e6e6;
}
.myinput-material > label{
    position: absolute;
    left: 3%;
    bottom: 15%;
    font-size: 14px;
    transition: all 0.3s;
}
.myinput-material.filled > label{
    left: 2.4%;
    bottom: 60%;
    font-size: 12px;
    color: var(--main-logo-color);
    margin-bottom: 0;
    font-weight: 700;
}
.myinput-material.filled > input{
    background-color: #e6e6e6;
    border-bottom: 1px solid var(--main-logo-color);
}
.myinput-material.filled{
    background-color: #e6e6e6;
}

.input-buttons-group{
    position: relative;
    border: 1px solid #2196F3;
    border-radius: 5px;
}
.input-buttons-group > input{
    width: 100px;
    height: 40px;
    border: none;
    font-family: 'Montserrat','sans-serif';
    font-weight: 700;
    text-align: center;
}
.input-buttons-group > button{
    color: #2196F3;
    background: transparent;
    font-size: 16px;
}
.mybtn{
    width: 100%;
    padding: 15px;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    background-color: var(--main-logo-color);
    color: white;
}

.mybtn-light{
    background-color: white;
    color: #535353;
    font-weight: bold;
    border-bottom-color: var(--main-logo-color);
    border-bottom-width: 0;
    border-bottom-style: solid;
    transition: all 0.3s;
}
.mybtn-blanco{
    background-color: white;
    color: var(--main-logo-color);
    font-weight: bold;
    border: 1px solid var(--main-logo-color);
}

.mybtn-trans{
    background-color: transparent;
    color: white;
    border: 1px solid var(--main-logo-color);
}

.mybtn:hover{
    cursor: pointer;
    background-color: rgb(253, 0, 8);
    color: white;
}

.mybtn-light.selected{
    color: var(--main-logo-color);
    background-color: white;
    border-bottom-width: 4px;
}

.mybtn-blanco:hover{
    background-color: var(--main-logo-color);
    color: white;
}

.mybtn-trans:hover{
    background-color: var(--main-logo-color);
    color: white;
}

.mybtn-light:hover{
    color: var(--main-logo-color);
    background-color: white;
}
.btn-facebook{
    background-color: #4267b2;
    color: white;
}
.btn-facebook:hover{
    background-color: #003ebb;
}

footer{
    background: white;
    color: black;
    padding: 30px 20px 20px 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1) inset;
}

footer .text-white{
    color: black !important;
}

footer .iconos-redes>div{
    width: 50px;
    display: inline-block;
    margin-left: 15px;
}

.mydropdown > button{
    background-color: transparent;
    color: black;
    font-family: 'Montserrat','sans-serif';
    font-size: 14px;
}
.mydropdown .dropdown-menu{
    left: auto !important;
    right: 0px;
    font-family: 'Montserrat','sans-serif';
    font-size: 14px;
    transform: translate3d(5px, 25px, 0)!important;
}
textarea{
    font-family: 'Montserrat','sans-serif';
    font-size: 14px;
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 15px;
}
textarea:focus{
    outline: none;
    background: #e6e6e6;
}
.myselect{
    width: 100%;
    font-family: 'Montserrat','sans-serif';
    font-size: 14px;
    border: 1px solid #e6e6e6;
    padding: 10px;
}
.myselect-inline{
    display: inline-block;
    border:none;
    font-family: 'Montserrat','sans-serif';
    font-size: 14px;
}
.myselect-inline:focus{
    outline: none;
}
.myselect:focus{
    outline: none;
    background: #e6e6e6;
}
select.myselect > option{
    padding: 15px;
}
.myfile-group{
    border: 1px solid #bebebe;;
    padding: 15px;
}
.myfile-group .myfile-label{
    background-color: white;
    color: var(--main-bg-color);
    border: 1px solid #bebebe;;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
.myfile-group .myfile-label:hover{
    color: var(--main-logo-color);
    border: 1px solid var(--main-logo-color);
}
.myfile-group .myfile-label >input{
    display: none;
}
/* Hide the browser's default checkbox */
input[type=checkbox] {
    cursor: pointer;
    background-color: #e6e6e6;
    border: none;
    color: #2196F3;
}
  
/* Create a custom checkbox */
label.mycheckbox::before{
    content: '';
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    position: absolute;
}
label.mycheckbox:checked::before{
    content: '';
    height: 25px;
    width: 25px;
    background-color: #707070;
    border-radius: 50%;
    position: absolute;
}
  
  /* On mouse-over, add a grey background color */
label.mycheckbox:hover > input[type=checkbox]::before{
    background-color: #ccc;
}
  
  /* When the checkbox is checked, add a blue background */
input[type=checkbox]:checked::before{
    background-color: #2196F3;
}
 

/***************************************************************************
Encabezado perfil
*/
.encabezado {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 40px 0 40px 0;
}

.encabezado .img-encabezado{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.encabezado .form-stars label{
    color: rgba(255, 255, 255, 0.4);
}
.encabezado .form-stars{
    display: inline-block;
}
.encabezado .form-stars input{
    display: none;
}
.encabezado .form-stars input:checked + label{
    color: yellow;
}
.encabezado .form-stars label:hover{
    cursor: pointer;
    color: yellow;
}
.encabezado .form-stars label{
    float: right;
}
.encabezado .form-stars:not(:checked) > label:hover ~ label{
    color: yellow;
    opacity: .5;
}

.encabezado .form-stars > input:checked ~ label{
    color: yellow;
}
/**
NAV BAR LOGIN Y REGISTRO
*/
#mynav{
    background-color: white;
    padding: 0 0 10px 0;
}
#mynav div.link{
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}
#mynav div.link:hover{
    opacity: .7;
    cursor: pointer;
}
#mynav div.link a{
    font-family: 'Montserrat',sans-serif;
    font-size: 16px; 
    font-weight: 700;
    color: black;
}
#mynav .dropdown{
    display: inline-flex;
    position: absolute;
    background: white;
    right: 0;
    height: 50px;
}
#mynav #dropdown-categorias{
    color: black;
    font-family: 'Montserrat',sans-serif;
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
#mynav .dropdown .dropdown-item{
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
}
#mynav .logotipo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}
#mynav .dropdown-menu{
    right: 0;
    left: auto;
}
#mynav .div-input-busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
}
#mynav .link a::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: black;
    transition: width .3s;
}
#mynav .link a::after{
    width: 0;
}
#mynav .link.active a::after {
    width: 100%;
}

/**
NAVBAR DESPUÉS DE AUTENTICACIÓN
*/
.navbar-brand{
    color: var(--main-logo-color)!important;
}
header{
    background-color: white;
}
#my-nav{
    padding: 0;
}
#my-nav .navbar-collapse{
    height: 100%;
}
#my-nav .nav-link{
font-family: 'Montserrat','sans-serif';
font-size: 14px;
margin: 15px 0 15px 0;
color: black;
}
#my-nav .nav-item.active .nav-link{
    font-weight: bold;
}
#my-nav .nav-item{
    margin-left: 15px;
}
#my-nav .nav-item::before{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: black;
    transition: width .3s;
}
#my-nav .nav-item:hover::before {
    width: 0;
}
#my-nav .nav-item.active::before {
    width: 0;
}
/**
Personalizando modal 
*/
.modal .modal-content{
    border-radius: 0;
}
.modal .modal-header{
    border-bottom: 0;
}


@media (min-width: 768px) and (max-width: 991.98px) {
    #mynav{
        padding: 30px 0 30px 0;
    }
    #mynav div.link{
        height: 100%;
        width: auto;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
     #mynav{
        padding: 30px 0 30px 0;
    }
    #mynav div.link{
        height: 100%;
        width: auto;
    } 
}


@media (min-width: 1200px) {
    #mynav{
        padding: 30px 0 30px 0;
    }
    #mynav div.link{
        height: 100%;
        width: auto;
    }
    #my-nav .nav-item:hover::before {
        width: 100%;
        transition: width .3s;
    }
    #my-nav .nav-item.active::before {
        width: 100%;
        transition: width .3s;
    }
}

.caja-sombra{
    padding: 30px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
}
.caja-sombra-normal{
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}

label.me-gusta-input{
    display: inline-block;
    font-family: 'Montserrat','sans-serif';
    margin-right: 20px;
    cursor: pointer;
}
label.me-gusta-input > input{
    display: none;
}
label.me-gusta-input > i{
    margin-right: 10px;
}
label.me-gusta-input > input:checked   ~ i{
    color: var(--main-logo-color);
}
label.me-gusta-input:hover{
    color: var(--main-logo-color);
}

.migaleria{
    width: 100%;
}
.migaleria .img-selected{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-image 0.3s;
}

.migaleria .opc-imagen{
    width: 30%;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
}

.migaleria .opc-imagen:hover{
    opacity: .7;
}

.migaleria .opc-imagen.selected{
    opacity: .7;
}

.border-5{
    border-radius: 5px;
}

/**
ESTILOS DEL CHAT
*/

.caja-mensaje-sm {
    width: 100%;
    padding: 20px 0 20px 0;
}

.caja-chat {
    padding: 30px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
    display: none;
}

.caja-chat .en-linea{
    color:  rgb(0, 102, 255);
}

.chatbox {
    padding: 10px 0 10px 0;
}

.talkbubble {
    width: 80%;
    height: auto;
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(0, 102, 255);
    position: relative;
    padding: 15px;
    margin-left: 20px;
}

.talkbubble p {
    margin-bottom: 0;
}

.talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 10%;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 8px solid rgb(0, 102, 255);
    border-bottom: 8px solid transparent;
}

.chatbox.right .talkbubble {
    border: 1px solid black;
    margin-left: auto;
    margin-right: 20px;
}

.chatbox.right .talkbubble:before {
    right: auto;
    left: 100%;
    border-top: 8px solid transparent;
    border-left: 8px solid black;
    border-right: 0;
    border-bottom: 8px solid transparent;
}

.caja-chat .cuerpo {
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.caja-mensaje-sm:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.caja-mensaje-sm.selected {
    background-color: #e6e6e6;
}

.boton-cerrar {
    background: transparent;
}

.caja-detalle-producto .progress {
    margin-bottom: 10px;
}