.encabezado {
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
}

.encabezado .logotipo {
    width: 150px;
}

#fila-empresas-no-scroll{
    display: none;
}

#fila-empresas-scroll > .row {
    overflow-x: scroll;
}

#fila-empresas-scroll .col {
    padding: 0 20px 0 0;
}

#fila-empresas-no-scroll .col {
    padding: 10px;
}

#fila-empresas-scroll .caja-empresa, #fila-empresas-no-scroll .caja-empresa {
    padding: 20px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
}
.caja-publicacion .img-publicacion {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}