
.opciones-cajas .caja-opcion-login{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 40px 0 40px 0;
    color: white;
    border-radius: 5px;
    opacity: .7;
    font-weight: 700;
}

.opciones-cajas .caja-opcion-login:hover{
    cursor: pointer;
    color: white;
    font-weight: 700;
    opacity: 1;
}

.opciones-cajas .caja-opcion-login.selected{
    background-color: var(--main-bg-color);
    color: white;
    font-weight: 700;
    opacity: 1;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
}
.opciones-cajas .link-caja-opcion{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}